.row {
    padding: 20px 0;
}

.table {
    border: 1px solid lightgray;
}

.col-md-4 {
    border: 1px solid lightgray;
    width: 31%;
    margin: 10px;
    border-radius: 5px;
    padding-bottom: 20px;
}

.col-md-4 h4 {
    font-weight: bold;
    line-height: 20px;
}

@media screen and (max-width: 991px) and (min-width: 768px) {
    
    .table, h1 {
        display: none;
    }
    
    .col-md-4 {
        border: 1px solid lightgray;
        width: 29%;
        margin: 15px;
        border-radius: 5px;
        padding-bottom: 20px;
    }
    
    .col-md-3 {
        padding-bottom: 20px;
    }
}

@media screen and (max-width: 767px) and (min-width: 500px){
    .table, h1 {
        display: none;
    }
    
    .col-xs-6 {
        width: 46%;
        margin: 12px;
    }
    
    .col-md-3 {
        padding-bottom: 20px;
    }
}

@media screen and (max-width: 499px) and (min-width: 300px){
    .table, h1 {
        display: none;
    }
    
    .col-xs-6 {
        width: 40%;
        margin: 10px;
    }
    
    .col-md-3 {
        padding-bottom: 20px;
    }
    
    
    .btn-default {
        margin-top: 10px;
    }
}
    

